body {
    font-family: "Dancing Script", cursive;
    padding-top: 20px;
    text-align: center;
  }
  h1 {
    color: purple;
    font-size: 26px;
    font-weight: 100;
    line-height: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 48px;
    margin: 0;
    font-weight: 900;
    color: #131216;
    padding: 0 0 24px;
  }
 li {
     list-style: none;
 }
  button {
    border-radius: 25px;
    border: 1px solid burlywood;
    background: #8064e9;
    font-size: 16px;
    display: block;
    margin: 60px auto;
    line-height: 22px;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 200ms ease;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }
.weather-app {
      max-width: 600px;
      margin: 30px auto;
      padding: 20px;
      border: 1px solid chartreuse;
      border-radius: 5px;
  }