body {
    font-family: "Dancing Script", cursive;
    padding-top: 20px;
    text-align: center;
  }
  h1 {
    color: crimson;
    text-align: left;
    font-size: 26px;
    font-weight: 600;
  }
  h2 {
    font-size: 24px;
    line-height: 48px;
    margin: 0;
    font-weight: 900;
    color: #8064e9;
    padding: 0 0 24px;
  }
  li {
    color: orangered;
    text-align: left;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
  }
  button {
    border-radius: 25px;
    border: 1px solid burlywood;
    background: #8064e9;
    font-size: 16px;
    display: block;
    margin: 60px auto;
    line-height: 22px;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 200ms ease;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }
  button:hover {
    cursor: pointer;
  }
  .limited-spots {
    font-weight: bold;
  }
  .button-container {
    margin: 60px 0;
  }
  .music-icon {
    color: blue;
    font-size: 100px;
  }
  .music-icon:hover {
    color: chartreuse;
    transition: all 150ms ease-in-out;
  }
  