body {
    font-family: "Dancing Script", cursive;
    padding-top: 20px;
  }

  h1 {
    color: rebeccapurple;
    font-size: 36px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 24px;
    line-height: 48px;
    margin: 0;
    font-weight: 900;
    color: #131216;
    padding: 0 0 24px;
  }

 ul {
     margin: 0;
     padding: 0;
 }

 li {
     list-style: none;
     font-size: 24px;
     margin: 0;
     padding: 0;
     color: rebeccapurple;
 }

  button {
    border-radius: 25px;
    border: 1px solid burlywood;
    background: #8064e9;
    font-size: 16px;
    display: block;
    margin: 60px auto;
    line-height: 22px;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 200ms ease;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }

.weather-app-wrapper {
    max-width: 800px;
    margin: 30px auto;
  }

.weather-app {
      padding: 20px;
      border: 8px solid chartreuse;
      border-radius: 5px;
  }

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: auto;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: chartreuse;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  color: #8064e9;
  position: relative;
  font-size: 48px;
}