  body {
      font-family: "Dancing Script", cursive;
      padding-top: 20px;
    }

    h1 {
      color: yellow;
      font-size: 36px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 24px;
      line-height: 48px;
      margin: 0;
      font-weight: 900;
      color: yellow;
      padding: 0 0 24px;
    }

  ul {
      margin: 0;
      padding: 0;
  }

  li {
      list-style: none;
      font-size: 24px;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
      color: yellow;
  }

    button {
      border-radius: 25px;
      border: 1px solid burlywood;
      background: #8064e9;
      font-size: 16px;
      display: block;
      margin: 60px auto;
      line-height: 22px;
      padding: 16px 24px;
      text-decoration: none;
      transition: all 200ms ease;
      box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    }

    p {
      color: whitesmoke;
      font-size: 22px;
    }

  .weather-app-wrapper {
      max-width: 800px;
      margin: 30px auto;
    }

  .weather-app {
        padding: 20px;
        border: 8px solid chartreuse;
        border-radius: 5px;
        background-color: rgb(43, 42, 42);
        opacity: 0.7;
    }

  .overview {
    margin-bottom: 20px;
  }

  .weather-temperature img {
    margin-right: auto;
    height: 64px;
    width: 64px;
  }

  .weather-temperature strong {
    color: chartreuse;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }

  .weather-temperature .units {
    color: chartreuse;
    position: relative;
    font-size: 48px;
  }

  .weather-temperature .active {
    color: yellow;
    cursor: default;
    text-decoration: none;
  }

  .weather-temperature .active:hover {
    text-decoration: none;
  }

  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: yellow;
  }

  .weather-forecast-date {
    font-size: 26px;
    color: orangered;
    font-weight: 700;
    opacity: 0.4;
}

  .weather-forecast-temp-min {
    opacity: 0.6;
}

  .weather-forecast-temp {
    font-size: 26px;
    font-weight: 700;
    color: crimson;
  }